{% extends "base_template.jinja2" %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block main_content %}
    <div id="main_content">
        <h3> BigSea project </h3>

	<div class="form-group">
	  <label for="usr">userame:</label>
	  <input type="text" class="form-control" id="usr">
	</div>
	<div class="form-group">
	  <label for="pwd">Password:</label>
	  <input type="password" class="form-control" id="pwd">
	</div>
	<div class="form-group">
	  <label for="pwd">Token:</label>
	  <input type="text" class="form-control" id="token">
	</div>
	<div id="btn_login" class="button">Login</div>
	<div id="btn_verify_token" class="button">Verify Token</div>
    </div>
{% endblock %}
