{% extends "base_template.jinja2" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block main_content %}
    <div id="main_content">
        <h3> BigSea project </h3>
    </div>
{% endblock %}
